MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=qt_platform
MYSQL_USER=qt_app
MYSQL_PASSWORD=change-me-app

MINIO_ROOT_USER=qt_minio
MINIO_ROOT_PASSWORD=change-me-minio

QT_MYSQL_PORT=3306
QT_REDIS_PORT=6379
QT_KAFKA_PORT=9092
QT_SCHEMA_REGISTRY_PORT=8081
QT_MINIO_PORT=9000
QT_MINIO_CONSOLE_PORT=9001
QT_MAILPIT_SMTP_PORT=1025
QT_MAILPIT_PORT=8025
